[user]
    name = Julien Lafont
#    email = julien.lafont@tabmo.io
    email = yotsumi.fx@gmail.com
[alias]
    s = status
    st = status
    ci = commit
    cim = commit -m
    br = branch
    co = checkout
    #lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    ll = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --decorate --numstat
    lga  = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    #lla  = log --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --decorate --numstat
    a = add
    d = diff
    dc = diff --cached
    up = !git pull --rebase --prune
    amend = commit -a --amend
    pr = "!f() { git fetch -fu ${2:-origin} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
    mr = !sh -c 'git fetch origin merge-requests/$1/head:mr-origin-$1 && git checkout mr-origin-$1' -
    pullr = pull --rebase
    clean-branches = !git branch -d $(git branch --merged | grep -vw $(git rev-parse --abbrev-ref HEAD) | sed 's/^ *//')
    cp = cherry-pick
[color]
    branch = auto
    diff = always
    status = auto
    interactive = auto
[push]
    default = current
[http]
    sslVerify = false
[diff]
	mnemonixPrefix = true
	renames = true
	wordRegex = .
[color "diff"]
	meta = yellow
	frag = magenta
	whitespace = red
[pager]
	diff = diff-so-fancy | less --tabs=2 -RFX
	show = diff-so-fancy | less --tabs=2 -RFX
[core]
	editor = vim
