[user]
    name = Julien Lafont
    email = julien.lafont@tabmo.fr
[alias]
    s = status
    st = status
    stp = status --porcelain
    ci = commit
    cim = commit -m
    br = branch
    co = checkout
    rz = reset --hard HEAD
    pullr = pull --rebase
    unstage = reset HEAD
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    ll = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --decorate --numstat
    lga  = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    lla  = log --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --decorate --numstat
    a = add
    d = diff
    dc = diff --cached
[color]
    branch = auto
    diff = auto
    status = auto
    interactive = auto
[push]
    default = current
[http]
    sslVerify = false
